lib/step-function-validarSegurOtro-ordenado.json
{
  "Comment": "Step Function para el Registro de Dispositivo - Flujo completo con validaciones de seguridad y encadenamiento",
  "StartAt": "fnInterDetalleFlujo",
  "States": {
    "fnInterDetalleFlujo": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnInterDetalleFlujo",
      "Comment": "Paso 1: Obtener configuración del flujo de registro de dispositivo",
      "Parameters": {
        "body.$": "$.body",
        "headers.$": "$.headers",
        "authorizerContext.$": "$.authorizerContext",
        "resource.$": "$.resource",
        "originalInput.$": "$"
      },
      "ResultPath": "$.detalleFlujoResult",
      "Next": "fnAsegMsjControlSegurOtro",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepararRespuestaErrorDetalleFlujo",
          "ResultPath": "$.error"
        }
      ]
    },

    "fnAsegMsjControlSegurOtro": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnAsegMsjControlSegurOtro",
      "Comment": "Validar integridad de datos de entrada",
      "Parameters": {
        "detalleFlujoResult.$": "$.detalleFlujoResult",
        "body.$": "$.body",
        "headers.$": "$.headers",
        "authorizerContext.$": "$.authorizerContext",
        "resource.$": "$.resource"
      },
      "ResultPath": "$",
      "Next": "EvaluarRespuestaDetalleFlujo",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ConvertirErrorCause",
          "ResultPath": "$.error"
        }
      ]
    },

    "ConvertirErrorCause": {
      "Type": "Pass",
      "Parameters": {
        "errorJson.$": "States.StringToJson($.error.Cause)"
      },
      "ResultPath": "$.errorJsonConvertido",
      "Next": "ErrorAsegurarMensajeEntrada"
    },

    "ErrorAsegurarMensajeEntrada": {
      "Type": "Pass",
      "Comment": "Error en validación de entrada",
      "Parameters": {
        "statusCode": 200,
        "body.$": "$.errorJsonConvertido.errorJson.errorMessage",
        "headers": {
          "referrer-policy": "no-referrer",
          "content-security-policy": "default-src 'self';",
          "x-content-type-options": "nosniff",
          "Permissions-Policy": "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()",
          "X-Frame-Options": "SAMEORIGIN",
          "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
          "Cache-Control": "no-store, no-cache, must-revalidate",
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "PrepararRespuestaErrorDetalleFlujo": {
      "Type": "Pass",
      "Parameters": {
        "codigoError": 9001,
        "mensajeUsuario": "No pudimos procesar tu información, por favor inténtalo mas tarde",
        "mensajeSistema": "Error en la validación del detalle flujo"
      },
      "ResultPath": "$.respuestaError",
      "Next": "ErrorDetalleFlujo"
    },

    "EvaluarRespuestaDetalleFlujo": {
      "Type": "Choice",
      "Comment": "Evaluar si la respuesta del detalle flujo es exitosa",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.detalleFlujoResult.body",
              "IsPresent": true
            },
            {
              "Variable": "$.detalleFlujoResult.body.codigoError",
              "NumericEquals": 0
            },
            {
              "Variable": "$.detalleFlujoResult.body.data.shouldContinue",
              "BooleanEquals": true
            }
          ],
          "Next": "DeterminarProximaAccion"
        }
      ],
      "Default": "PrepararRespuestaErrorDetalleFlujo"
    },

    "DeterminarProximaAccion": {
      "Type": "Choice",
      "Comment": "Determinar la próxima acción basada en la configuración del flujo",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.validarHash",
          "BooleanEquals": true,
          "Next": "fnInterValidarHashSeguridad"
        },
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.llamarServicioUrl",
          "BooleanEquals": true,
          "Next": "VerificarEncadenamientoPredecesor"
        },
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.crearClientId",
          "BooleanEquals": true,
          "Next": "GenerarClientidControlSegurOtro"
        }
      ],
      "Default": "VerificarEncadenamientoPredecesor"
    },

    "VerificarEncadenamientoPredecesor": {
      "Type": "Choice",
      "Comment": "Verificar encadenamiento: Si hay codGuardarRegistroPeticion, ir directo al servicio. Si hay existeCodRegistroPeticiones, validar predecesor primero",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.encadenamiento.codGuardarRegistroPeticion",
          "IsPresent": true,
          "Next": "fnInterPeticionControlSegurOtro"
        },
        {
          "Variable": "$.detalleFlujoResult.body.data.encadenamiento.existeCodRegistroPeticiones",
          "IsPresent": true,
          "Next": "fnPredecesorControlSegurOtro"
        }
      ],
      "Default": "fnInterPeticionControlSegurOtro"
    },

    "fnPredecesorControlSegurOtro": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnPredecesorControlSegurOtro",
      "Comment": "Validar encadenamiento predecesor",
      "Parameters": {
        "detalleFlujoResult.$": "$.detalleFlujoResult",
        "headers.$": "$.headers",
        "body.$": "$.body",
        "authorizerContext.$": "$.authorizerContext"
      },
      "ResultPath": "$.predecesorResult",
      "Next": "EvaluarPredecesor",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ErrorPredecesor",
          "ResultPath": "$.error"
        }
      ]
    },

    "EvaluarPredecesor": {
      "Type": "Choice",
      "Comment": "Evaluar si el predecesor fue exitoso",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.predecesorResult.codigoError",
              "NumericEquals": 0
            }
          ],
          "Next": "fnInterPeticionControlSegurOtro"
        }
      ],
      "Default": "ErrorPredecesor"
    },

    "ErrorPredecesor": {
      "Type": "Pass",
      "Comment": "Error en validación de predecesor",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.predecesorResult)",
        "headers": {
          "referrer-policy": "no-referrer",
          "content-security-policy": "default-src 'self';",
          "x-content-type-options": "nosniff",
          "Permissions-Policy": "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()",
          "X-Frame-Options": "SAMEORIGIN",
          "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
          "Cache-Control": "no-store, no-cache, must-revalidate",
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "fnInterPeticionControlSegurOtro": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnInterPeticionControlSegurOtro",
      "Comment": "Paso 4: Ejecutar el registro del dispositivo y actualizar caché",
      "Parameters": {
        "body": {
          "originalBody.$": "$.body",
          "originalHeaders.$": "$.headers",
          "detalleFlujoResult.$": "$.detalleFlujoResult",
          "validarHashResult.$": "$.validarHashResult",
          "caracteresBloqueados": "<,>,*,?"
        }
      },
      "ResultPath": "$.servicioResult",
      "Next": "EvaluarRespuestaRegistro",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ErrorRegistroDispositivo",
          "ResultPath": "$.error"
        }
      ]
    },

    "EvaluarRespuestaRegistro": {
      "Type": "Choice",
      "Comment": "Evaluar respuesta del servicio y determinar si continuar con el flujo",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.servicioResult",
              "IsPresent": true
            },
            {
              "Variable": "$.servicioResult.codigoError",
              "NumericEquals": 0
            }
          ],
          "Next": "DeterminarAccionPostServicio"
        }
      ],
      "Default": "PrepararRespuestaError"
    },

    "DeterminarAccionPostServicio": {
      "Type": "Choice",
      "Comment": "Determinar qué acciones ejecutar después del servicio exitoso - Orden: Sucesor → BorrarHash → BorrarClientId → GenerarClientId",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.encadenamiento.codGuardarRegistroPeticion",
          "IsPresent": true,
          "Next": "fnSucesorControlSegurOtro"
        },
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.borrarHash",
          "BooleanEquals": true,
          "Next": "fnInterBorrarHashSeguridad"
        }
      ],
      "Default": "RespuestaFinalPostServicio"
    },

    "fnSucesorControlSegurOtro": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnSucesorControlSegurOtro",
      "Comment": "Registrar encadenamiento sucesor",
      "Parameters": {
        "detalleFlujoResult.$": "$.detalleFlujoResult",
        "headers.$": "$.headers",
        "body.$": "$.body",
        "authorizerContext.$": "$.authorizerContext",
        "servicioResult.$": "$.servicioResult"
      },
      "ResultPath": "$.sucesorResult",
      "Next": "EvaluarSucesor",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ErrorSucesor",
          "ResultPath": "$.error"
        }
      ]
    },

    "EvaluarSucesor": {
      "Type": "Choice",
      "Comment": "Evaluar si el sucesor fue exitoso",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.sucesorResult.codigoError",
              "NumericEquals": 0
            }
          ],
          "Next": "DeterminarAccionPostSucesor"
        }
      ],
      "Default": "ErrorSucesor"
    },

    "ErrorSucesor": {
      "Type": "Pass",
      "Comment": "Error en registro de sucesor",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.sucesorResult)",
        "headers": {
          "referrer-policy": "no-referrer",
          "content-security-policy": "default-src 'self';",
          "x-content-type-options": "nosniff",
          "Permissions-Policy": "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()",
          "X-Frame-Options": "SAMEORIGIN",
          "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
          "Cache-Control": "no-store, no-cache, must-revalidate",
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "DeterminarAccionPostSucesor": {
      "Type": "Choice",
      "Comment": "Determinar qué acciones ejecutar después de registrar sucesor",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.borrarHash",
          "BooleanEquals": true,
          "Next": "fnInterBorrarHashSeguridad"
        }
      ],
      "Default": "RespuestaFinalPostServicio"
    },

    "RespuestaFinalPostServicio": {
      "Type": "Pass",
      "Comment": "Retornar respuesta exitosa después de completar todo el flujo",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.servicioResult.data)",
        "headers": {
          "referrer-policy": "no-referrer",
          "content-security-policy": "default-src 'self';",
          "x-content-type-options": "nosniff",
          "Permissions-Policy": "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()",
          "X-Frame-Options": "SAMEORIGIN",
          "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
          "Cache-Control": "no-store, no-cache, must-revalidate",
          "Content-Type": "application/json",
          "X-Flow-Completed": "true",
          "X-Original-Headers-Processed": "true"
        }
      },
      "End": true
    },

    "fnInterBorrarHashSeguridad": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnInterBorrarHashSeguridad",
      "Comment": "Borrar Hash de seguridad cuando es requerido",
      "Parameters": {
        "hashOrigen.$": "$.detalleFlujoResult.body.data.configuracion.hashOrigen",
        "headers": {
          "identificacion.$": "$.headers.identificacion",
          "clientId.$": "$.headers.clientId",
          "Content-Type": "application/json"
        },
        "originalHeaders.$": "$.headers",
        "authorizerContext.$": "$.authorizerContext",
        "detalleFlujoResponse.$": "$.detalleFlujoResult",
        "servicioResult.$": "$.servicioResult"
      },
      "ResultPath": "$.borrarHashResult",
      "Next": "DeterminarAccionPostBorrarHash",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepararRespuestaErrorBorrarHash",
          "Comment": "Si falla borrar el hash, continuamos porque el registro ya fue exitoso",
          "ResultPath": "$.errorBorrarHash"
        }
      ]
    },

    "DeterminarAccionPostBorrarHash": {
      "Type": "Choice",
      "Comment": "Determinar qué acciones ejecutar luego de borrar el hash",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.borrarClientId",
          "BooleanEquals": true,
          "Next": "fnInterBorrarClientIdTransf"
        }
      ],
      "Default": "RespuestaFinalPostServicio"
    },

    "fnInterBorrarClientIdTransf": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnInterBorrarClientIdTransf",
      "Comment": "Borrar ClientId después de uso",
      "Parameters": {
        "headers": {
          "identificacion.$": "$.headers.identificacion",
          "clientId.$": "$.headers.clientId",
          "Content-Type": "application/json"
        },
        "originalHeaders.$": "$.headers",
        "authorizerContext.$": "$.authorizerContext",
        "detalleFlujoResponse.$": "$.detalleFlujoResult"
      },
      "ResultPath": "$.borrarClientIdResult",
      "Next": "GenerarClientidControlSegurOtro",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepararRespuestaBorrarClientid",
          "ResultPath": "$.error"
        }
      ]
    },

    "GenerarClientidControlSegurOtro": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:GenerarClientidControlSegurOtro",
      "Comment": "Generar ClientId de autorización cuando es requerido",
      "Parameters": {
        "body.$": "$.body",
        "headers.$": "$.headers",
        "authorizerContext.$": "$.authorizerContext",
        "detalleFlujoResponse.$": "$.detalleFlujoResult",
        "originalHeaders.$": "$.headers",
        "servicioResult.$": "$.servicioResult"
      },
      "ResultPath": "$.clientIdResult",
      "Next": "EvaluarGeneracionClientId",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "ErrorGenerarClientId",
          "ResultPath": "$.error"
        }
      ]
    },

    "EvaluarGeneracionClientId": {
      "Type": "Choice",
      "Comment": "Evaluar si la generación de ClientId fue exitosa",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.clientIdResult.body",
              "IsPresent": true
            },
            {
              "Variable": "$.clientIdResult.body.codigoError",
              "NumericEquals": 0
            }
          ],
          "Next": "DeterminarAccionPostClientId"
        }
      ],
      "Default": "ErrorGeneracionClientId"
    },

    "DeterminarAccionPostClientId": {
      "Type": "Choice",
      "Comment": "Determinar qué hacer después de validar Hash",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.llamarServicioUrl",
          "BooleanEquals": true,
          "Next": "PrepararRespuestaFinal"
        }
      ],
      "Default": "PrepararRespuestaFinal"
    },

    "PrepararRespuestaFinal": {
      "Type": "Pass",
      "Comment": "Preparar la respuesta final para API Gateway",
      "Parameters": {
        "codigoError.$": "$.servicioResult.data.codigoError",
        "mensajeSistema.$": "$.servicioResult.data.mensajeSistema",
        "mensajeUsuario.$": "$.servicioResult.data.mensajeUsuario",
        "dispositivo.$": "$.servicioResult.data.dispositivo",
        "dispositivosRegistrados.$": "$.servicioResult.data.dispositivosRegistrados",
        "clientId.$": "$.clientIdResult.body.data.clientId"
      },
      "ResultPath": "$.respuestaFinal",
      "Next": "RetornarRespuestaExitosa"
    },

    "fnInterValidarHashSeguridad": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:${aws:region}:${aws:accountId}:function:fnInterValidarHashSeguridad",
      "Comment": "Validar Hash de seguridad cuando es requerido",
      "Parameters": {
        "body.$": "States.JsonToString($.body)",
        "headers": {
          "identificacion.$": "$.headers.identificacion",
          "clientId.$": "$.headers.clientId",
          "Content-Type": "application/json"
        },
        "originalHeaders.$": "$.headers",
        "authorizerContext.$": "$.authorizerContext",
        "hashOrigen.$": "$.detalleFlujoResult.body.data.configuracion.hashOrigen",
        "detalleFlujoResponse.$": "$.detalleFlujoResult"
      },
      "ResultPath": "$.validarHashResult",
      "Next": "DeterminarAccionPostValidarHash",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "PrepararRespuestaErrorValidarHash",
          "ResultPath": "$.error"
        }
      ]
    },

    "DeterminarAccionPostValidarHash": {
      "Type": "Choice",
      "Comment": "Determinar qué hacer después de validar Hash",
      "Choices": [
        {
          "Variable": "$.detalleFlujoResult.body.data.configuracion.llamarServicioUrl",
          "BooleanEquals": true,
          "Next": "VerificarEncadenamientoPredecesor"
        }
      ],
      "Default": "RetornarRespuestaExitosa"
    },

    "RetornarRespuestaExitosa": {
      "Type": "Pass",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.respuestaFinal)",
        "headers": {
          "referrer-policy": "no-referrer",
          "content-security-policy": "default-src 'self';",
          "x-content-type-options": "nosniff",
          "Permissions-Policy": "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()",
          "X-Frame-Options": "SAMEORIGIN",
          "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
          "Cache-Control": "no-store, no-cache, must-revalidate",
          "Content-Type": "application/json",
          "X-Flow-Completed": "true",
          "X-Original-Headers-Processed": "true"
        }
      },
      "End": true
    },

    "PrepararRespuestaError": {
      "Type": "Pass",
      "Comment": "Preparar la respuesta de error del servicio",
      "Parameters": {
        "codigoError.$": "$.servicioResult.data.codigoError",
        "mensajeUsuario.$": "$.servicioResult.data.mensajeUsuario",
        "mensajeSistema.$": "$.servicioResult.data.mensajeSistema"
      },
      "ResultPath": "$.respuestaError",
      "Next": "RetornarRespuestaError"
    },

    "RetornarRespuestaError": {
      "Type": "Pass",
      "Comment": "Retornar respuesta de error del servicio",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.respuestaError)",
        "headers": {
          "referrer-policy": "no-referrer",
          "content-security-policy": "default-src 'self';",
          "x-content-type-options": "nosniff",
          "Permissions-Policy": "accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()",
          "X-Frame-Options": "SAMEORIGIN",
          "Strict-Transport-Security": "max-age=31536000; includeSubDomains",
          "Cache-Control": "no-store, no-cache, must-revalidate",
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "ErrorDetalleFlujo": {
      "Type": "Pass",
      "Comment": "Error en el detalle flujo",
      "Parameters": {
        "statusCode": 500,
        "body.$": "States.JsonToString($.respuestaError)",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "ErrorGenerarClientId": {
      "Type": "Pass",
      "Comment": "Error al generar ClientId",
      "Parameters": {
        "statusCode": 500,
        "body": {
          "codigoError": 9002,
          "mensajeUsuario": "Error al generar cliente de autorización",
          "mensajeSistema.$": "$.error.Cause"
        },
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "ErrorGeneracionClientId": {
      "Type": "Pass",
      "Comment": "Error en respuesta de generación ClientId",
      "Parameters": {
        "statusCode": 500,
        "body": {
          "codigoError": 9003,
          "mensajeUsuario": "Falló la generación del cliente de autorización",
          "mensajeSistema.$": "$.clientIdResult.body.mensaje"
        },
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "PrepararRespuestaBorrarClientid": {
      "Type": "Pass",
      "Parameters": {
        "codigoError": 9004,
        "mensajeUsuario": "No pudimos procesar tu información, por favor inténtalo mas tarde",
        "mensajeSistema": "No se pudo completar un proceso de autorización"
      },
      "ResultPath": "$.respuestaError",
      "Next": "ErrorBorrarClientId"
    },

    "ErrorBorrarClientId": {
      "Type": "Pass",
      "Comment": "Error al borrar ClientId",
      "Parameters": {
        "statusCode": 500,
        "body": {
          "codigoError": 9004,
          "mensajeUsuario": "Error al limpiar cliente de autorización",
          "mensajeSistema.$": "$.error.Cause"
        },
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "PrepararRespuestaErrorBorrarHash": {
      "Type": "Pass",
      "Parameters": {
        "codigoError": 9005,
        "mensajeUsuario": "No pudimos procesar tu información, por favor inténtalo mas tarde",
        "mensajeSistema": "No se pudo completar un proceso de autorización"
      },
      "ResultPath": "$.respuestaError",
      "Next": "ErrorBorrarHash"
    },

    "ErrorBorrarHash": {
      "Type": "Pass",
      "Comment": "Error al borrar Hash",
      "Parameters": {
        "statusCode": 500,
        "body.$": "States.JsonToString($.respuestaError)",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "PrepararRespuestaErrorValidarHash": {
      "Type": "Pass",
      "Parameters": {
        "codigoError": 403,
        "mensajeUsuario": "No pudimos procesar tu información, por favor inténtalo mas tarde",
        "mensajeSistema": "Información incompleta o inconsistente"
      },
      "ResultPath": "$.respuestaError",
      "Next": "ErrorValidarHash"
    },

    "ErrorValidarHash": {
      "Type": "Pass",
      "Parameters": {
        "statusCode": 200,
        "body.$": "States.JsonToString($.respuestaError)",
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    },

    "ErrorRegistroDispositivo": {
      "Type": "Pass",
      "Comment": "Error al registrar dispositivo",
      "Parameters": {
        "statusCode": 500,
        "body": {
          "codigoError": 9008,
          "mensajeUsuario": "No pudimos procesar tu información, por favor inténtalo mas tarde",
          "mensajeSistema.$": "$.error.Cause"
        },
        "headers": {
          "Content-Type": "application/json"
        }
      },
      "End": true
    }
  }
}
